header {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .background {
    background-image: url("/background2.png");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }
    .fab {
    font-size: 1.5rem;
    margin: 10px;
    }
    .grid-wrapper {
        display: flex;
        flex-direction: column;
      }
      aside {
        flex-grow: 1;
      }
